<div class="cont">
    <div class="contForm">
        <p>Ingrese los valores de glucosa sanguinea</p>
        <form action="" #formDiabetes = "ngForm" (ngSubmit)='addRegisterDiabetes(formDiabetes)'>
            <select name="typeExam" id="typeEx" (change)='seeComp($event)'>
                <option value="AC1">AC1</option>
                <option value="aleatorio">aleatorio de glucosa sanguínea</option>
                <option value="glucemiaAyunas">glucemia en ayunas</option>
                <option value="tolerancia">tolerancia oral a la glucosa</option>
            </select>
            <input type="hidden" name="_id" >
            <p [ngClass]='{visibilityRec:tVisisbility==="AC1"}'> Escriba solo el valor en decimal del porcentaje Ej: 5.7% == 5.7</p>
            
            <input type="number" name="lvlGlucose" id="lG" placeholder="glucosa sanguinea" >

            <div class="ac1Form" [ngClass]='{visibilityRec:tVisisbility==="AC1"}'>
                
                <input type="number" name="lvlGlucoseSecond" id="lteS" placeholder="glucosa sanguinea segunda prueba">
            </div>
            <div class="toleranciaForm" [ngClass]='{visibilityRec:tVisisbility==="tolerancia"}'>
                <p>Ingrese el tiempo transcurrido desde la ultima comida en minutos ej: para una hora seria 60</p>
                <input type="number" name="last_time_eat" id="lte" placeholder="Tiempo transcurrido desde la ultima comida">
            </div>
            
            
            <button type="submit">Registrar</button>
        </form>
    </div>
    <div class="recomedated levelTension" >
        <h1> Tension normal </h1>
        <p>{{bloodGlucoseCurrently}}</p>
    
        <div class="card">
            <h3>Alimentacion</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas</button>
        </div>
        <div class="card cardRight">
            <h3>Actividad fisica</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas </button>
        </div>
        <div class="card">
            <h3>Habitos Saludables</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas</button>
        </div>
    </div>
    <div class="recomedated hipoT" >
        <h1> HipoTension </h1>
        <p>{{bloodGlucoseCurrently}}</p>
    
        <div class="card hipoT_card">
            <h3>Alimentacion</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas</button>
        </div>
        <div class="card cardRight hipoT_cardRight">
            <h3>Actividad fisica</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas </button>
        </div>
        <div class="card hipoT_card">
            <h3>Habitos Saludables</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas</button>
        </div>
    </div>
    <div class="recomedated hypeT" >
        <h1> HiperTension </h1>
        <p>{{bloodGlucoseCurrently}}</p>
    
        <div class="card hypeT_card">
            <h3>Alimentacion</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas</button>
        </div>
        <div class="card cardRight hypeT_cardRight">
            <h3>Actividad fisica</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas </button>
        </div>
        <div class="card hypeT_card">
            <h3>Habitos Saludables</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint placeat ullam! Autem unde quis quisquam suscipit architecto. Accusantium incidunt dolorum recusandae maxime doloribus tenetur veritatis deleniti facere consequatur officia.</p>
            <button > ver mas</button>
        </div>
    </div>
    <div class="registerSection">
        <h1>Signos registrados</h1>
        <div class="registers">

        
            <div class="tableResgister">
                
                <table>
                        
                        <thead class="header_table">
                            <th class="col_No">#</th>
                            <th class="col">Nivel de glucosa</th>
                            <th class="col">Nivel de glucosa 2</th>
                            <th class="col_date">Fecha</th> 
                            <th class="col_actions"> </th>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let register of registersDiabetes; let i = index">
                                <td class="col_No">{{i+1}}</td>
                                <td class="col">{{register.blood_glucose}}mg/dl</td>
                                <td class="col">{{register.blood_glucoseSecond ? register.blood_glucoseSecond : '-'}}</td>
                                <td class="col_date">{{register.createdAt | date: 'short'}}</td>
                                <td class="col_actions">
                                    <button class="editBtn">
                                        <i class="material-icons" (click)="editRegister(register)">edit</i>
                                    </button>
                                    <button class="deleteBtn" (click)="deleteRegister(register._id)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                     
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
            <div class="graphicsRegisters">
                <!-- <canvas baseChart 
                    [datasets]="registersForChart" 
                    [labels]="labelsCharts" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins"
                    (chartHover)="chartHovered($event)" 
                    (chartClick)="chartClicked($event)">
            </canvas>  -->
            </div>
        </div>
    </div>
        
</div>


