<div class="mainViewCont">

    <div id="containerSelection" class="containerSelection">
        <h2 class="h2Selection">Comenzar ahora</h2>
        <div class="selection" >
            <a href="/diabetes">
                <div id="selectionDiabetes" class="divSel selectionDiabetes">
                    <h4>Diabetes</h4>
                    <div class="hoverEfect"></div>
                </div>
            </a>
            
            <a href="/tension">
                <div id="selectionTension" class="divSel selectionTension">
                    <h4>Tension</h4>
                    <div class="hoverEfect2"></div>
                </div>
            </a>
        </div>
      </div>
    
    <section>   
        
        <div id="containerAboutUs" class="containerAboutUs">
            <h1>Acerca de nosotros</h1>
                <div class="containerAboutInfo">
                    
                    <article class="divInfo whatIs" id="divInfo">
                        
                        
                            <h2>¿Que es ValiSalud?</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ea magni reiciendis animi aperiam perferendis id expedita quam! Aut tenetur nemo ea quibusdam, consectetur cum numquam vero possimus provident at.
                            </p>
                    </article>
                        
                        <article class="divInfo origin" id="divInfo">
          
                            <h2>Origen</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ea magni reiciendis animi aperiam perferendis id expedita quam! Aut tenetur nemo ea quibusdam, consectetur cum numquam vero possimus provident at.
                            </p>
                        </article>
                </div>
          
            <div id="containerMembers" class="containerMembers">
                <div class="member" id="member">
                    <div id="m1">
                        <img src="images/diego.jpg" alt="">
                    </div>
                    <h3>Diego Garay Fonseca</h3>
                    <ul id="infoMember">
                        <li>Carera:Ing.Sistemas</li>
                        <li>Semestre: Tercero</li>
                        <li>Edad:20</li>
                    </ul>
                </div>
                <div class="member" id="member">
                    <div id="m1">
                        <img src="images/julian.png" alt="">
                    </div>
                    <h3>Joshua Julian Cobos Bautista</h3>
                    <ul id="infoMember">
                        <li>Carera:Ing.Sistemas</li>
                        <li>Semestre: Tercero</li>
                        <li>Edad: 22</li>
                    </ul>
                </div>
                <div class="member" id="member">
                    <div id="m1">
                        <img src="images/andrey.png" alt="">
                    </div>
                    <h3>Cristian Felipe Lopez Gomez</h3>
                    <ul id="infoMember">
                        <li>Carera:Ing.Sistemas</li>
                        <li>Semestre: Segundo</li>
                        <li>Edad:18</li>
                    </ul>
                </div>
                <div class="member" id="member">
                    <div id="m1">
                        <img src="images/julian.png" alt="">
                    </div>
                    <h3>Carlos Leonardo Lopez Cardenas</h3>
                    <ul id="infoMember">
                        <li>Carera:Ing.Sistemas</li>
                        <li>Semestre: Segundo</li>
                        <li>Edad: 22</li>
                    </ul>
                </div>
            </div>
          </div>
    </section>
</div>
